.Zurag {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Intro {
  font-weight: 100;
  gap: 20px;
  margin-left: 10px;
}

.Intro h3 {
  margin-bottom: 30px;
  margin-left: 10px;
}
.Intro p {
  margin-bottom: 30px;
  margin-left: 10px;
}
.skill p {
  color: white;
  gap: 10px;
  background-color: rgb(43, 209, 209);
  width: 80px;
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  height: 30px;
  justify-content: center;
  block-size: fit-content;
}
.skill {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Vamos {
  background-color: hwb(0 90% 7% / 0.58);
  border-radius: 10px;
  font-family: sans-serif;
}
